body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Change color and scale on hover */
a.text-body {
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease, transform 0.1s ease; /* Smooth transition */
}

a.text-body i {
    color: inherit; /* Inherit color from the parent link */
    transition: color 0.3s ease, transform 0.1s ease; /* Smooth transition */
}

a.text-body:hover i {
    color: #007bff; /* Change this color to your preferred hover color */
    transform: scale(1.1); /* Slightly scale up the icon */
}

.card {
    background-color: rgba(255, 255, 255, 0.95); /* White with slight transparency */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 30px;  /* Rounded corners */
    padding: 10px 20px; /* More padding for a larger button */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker color on hover */
    transform: translateY(-2px); /* Slight upward movement */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Added shadow effect */
}


