@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Anonymous Pro', monospace; /* Set the Anonymous Pro font */
}

.main-navbar {
    border-bottom: 1px solid #ccc;
}

.logo {
    height: 80px;
}

.logo2 {
    height: 120px;
}

.main-navbar .top-navbar {
    background-color: #FFC563   ; 
    padding: 15px 0; 
}

.main-navbar .top-navbar .brand-name {
    color: #fff;
    font-size: 1.5rem; 
    font-weight: bold; 
}

.main-navbar .top-navbar .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s; 
}

.main-navbar .top-navbar .nav-link:hover {
    color: #000000; 
}

.main-navbar .top-navbar .dropdown-menu {
    border-radius: 0px;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 10px 15px; 
    font-size: 14px;
    color: #000000;
}

.main-navbar .top-navbar .dropdown-menu .dropdown-item:hover {
    background-color: #f8f9fa; 
}

.main-navbar .navbar {
    background-color: #fff; 
    padding: 10px 0; 
}

.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 15px; 
    color: #333; 
    font-size: 15px;
}

.main-navbar .navbar .nav-item .nav-link.active {
    font-weight: bold; 
    color: #000000; 
}


.btn {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border-radius: 30px;  /* Rounded corners */
    padding: 10px 20px; /* More padding for a larger button */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

.btn:hover {
    background-color: #0056b3; /* Darker color on hover */
    transform: translateY(-2px); /* Slight upward movement */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Added shadow effect */
}



.coupon {
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.coupon:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.coupon i {
    font-size: 3rem;
}

.coupon .code {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.coupon p {
    font-size: 1rem;
    line-height: 1.4;
}

.badge {
    font-size: 0.875rem;
    padding: 5px 10px;
}

.text-primary, .text-danger, .text-success {
    font-weight: 600;
}

/* General body and text styling */
body {
    font-family: 'Anonymous Pro', monospace;
    background-color: #f8f9fa; /* Light gray background for better contrast */
}

h1 {
    font-size: 2.5rem;
}



.nav-item.active .nav-link {
    font-weight: bold; /* Makes the active link bold */
    background-color:  #FFC563 ; /* Change background color if needed */
    border-radius: 5px; /* Adds rounded corners */
}



@media only screen and (max-width: 600px) {
    .main-navbar .top-navbar .nav-link {
        font-size: 12px;
        padding: 8px 10px;
    }
}
